<!-- partials/header -->
<nav class="front-navbar" role="navigation">
  <div class="container">
    <ul>
      <li><a href="#">Discovery</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Category</a></li>
    </ul>
  </div>
</nav>
