// ----- player layout variables ----- //
$player-radius: 8px
$player-topbar-height: 24px
$player-footer-height: $player-topbar-height


.player-item
  +span(12)
  margin-top: 20px
  +breakpoint($b-mobile)
    +gallery(6)
  +breakpoint($b-pad)
    +gallery(4)
  +breakpoint($b-desktop)
    +gallery(3)

.player-wrapper
  +border-radius($player-radius)

.player-topbar
  +clearfix
  height: $player-topbar-height
  color: $c-player-topbar-text
  font-size: $fz-s
  +border-top-radius($player-radius)
.category-title
  float: left
  height: $player-topbar-height
  width: 35%
  padding: 4px 0
  text-align: center
  background-color: $c-player-topbar-category-bg
  +border-top-left-radius($player-radius)
  border-right: 2px solid #888
.track-title
  float: left
  display: block
  height: $player-topbar-height
  padding: 4px
  width: 65%
  overflow: hidden
  color: $c-player-topbar-text
  background-color: $c-player-topbar-track-bg
  +border-top-right-radius($player-radius)

.player-main
  position: relative
  overflow: hidden
  // .cover
  .cover-blured
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: -10px
    +background-size(cover)
    +transform(translate3d(0, 0, 0))
    +filter(blur(8px) saturate(2))
.ui-wrapper
  display: none
  position: absolute
  top: 0
  width: 100%
  height: 100%
  background: image-url("assets/player-ui-line.png") center 85% no-repeat
  background-color: rgba(#000, .5)
  +background-size(contain)
  .ui-main
    width: 70%
    height: 70%
    margin: 5% auto 0 auto
    padding-top: 0.3em
    +border-radius(50%)
    border: 5px solid $c-player-player-main-border
    background-color: rgba(#fff, .5)
    text-align: center
    font-size: 6em
    .ui-controller
      display: block
      width: 100%
      height: 100%
      margin: 0
      padding: 0
      color: #fff
  .ui-option
    width: 100%
    background-color: #FFF


.player-footer
  +clearfix
  +border-bottom-radius($player-radius)
  font-size: $fz-s
  color: $c-player-footer-text
  background-color: $c-player-footer-bg
  text-align: center
  .item-hitcount, .item-funded
    float: left
    width: 50%
    padding: 4px 8px
    height: $player-footer-height
  .item-hitcount
    color: $c-player-footer-view
  .item-funded
    color: $c-player-footer-funded
  .number
    color: $c-player-footer-number
