////////////////////////////////////////
// -------------------------------------
//   Color & Textures
// -------------------------------------
////////////////////////////////////////

// ----- color swatches ----- //
$cs-1: #827442
$cs-2: #788e42
$cs-3: #959947
$cs-4: #997347
$cs-5: #8e5842


// buttons color
$btn-primary  : #00a1cb
$btn-action   : #7db500
$btn-highlight: #f18d05
$btn-danger   : #e54028
$btn-royal    : #87318c

// main global settings
$c-background: #333
$c-text: #eee


$c-player-topbar-text: #fff
$c-player-topbar-category-bg: #950621
$c-player-topbar-track-bg: #060606
$c-player-player-main-border: #fff
$c-player-footer-text: $c-player-topbar-text
$c-player-footer-bg: $c-player-topbar-track-bg
$c-player-footer-view: #ffe000
$c-player-footer-funded: #ff55b8
$c-player-footer-number: #fff
